
.map{
background-color: red;
flex :2/3;
}
.start{
    background-color: #cbe7ff;
    flex: 1/3;

}
.ActionButton{
     background-color: cadetblue!important; 
     
    
}
.InputButton{
    background-color: #0891b2!important;
}