.container{
padding: 0 2rem;
height: 100vh;

display: flex;
flex-direction: column;
background-color: blue;


}
.map{
background-color: red;
flex: 0.5;
}
.start{
    background-color: #4a8291;;
    flex: 0.5;

}